.VideoBox > img {
	height: 171.71px;
	width: auto;
	display: flex;
	flex-wrap: wrap;
}

.VideoBox-detail > img {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin-top: 5px;
	display: flex;
	flex-direction: row;
}